<h2 class="header_color mt-5">Macros for the Day</h2>
<div id="macros" class="mt-3">

    <p class="text_color"><strong>Calories: {{ account.calories }} </strong> <span id="protein"></span></p>
    <p class="text_color"><strong>Protein: {{ account.protein }}</strong> <span id="protein"></span></p>
    <p class="text_color"><strong>Carbohydrates: {{ account.carbs }}</strong> <span id="carbs"></span></p>
    <p class="text_color"><strong>Fat: {{ account.fats }}</strong> <span id="fat"></span></p>
</div>

<h2 class="header_color mt-4">Eating plan</h2>

<div class="mt-3">
    {% if plan %}
        <div class="d-flex justify-content-center flex-column align-items-center mb-3">
            <p>Breakfast: {{ plan.plan.breakfast.title }}</p>
            <p>Lunch: {{ plan.plan.lunch.title }}</p>
            <p class="mb-4">Dinner: {{ plan.plan.dinner.title }}</p>

            <h2 class="header_color mb-3">Plan macros: </h2>
            <p>
                Calories: {{ plan.plan.total_calories }}
            </p>
            <p>
                Proteins: {{ plan.plan.total_proteins }}
            </p>
            <p>
                Carbs: {{ plan.plan.total_carbs }}
            </p>
            <p>
                Fats: {{ plan.plan.total_fats }}
            </p>

        </div>
        <a href="{% url 'change eating plan for the day page' pk=plan.pk %}" class="link_color">
            <button class="button">Change plan</button>
        </a>

        <a href="{% url 'delete eating plan for the day page' pk=plan.pk %}" class="link_color">
            <button class="delete-button ms-4">Remove plan</button>
        </a>

    {% else %}
        <div class="d-flex justify-content-center flex-column align-items-center">
            <h3 class="header_color text-center">You don't have an eating plan for the day</h3>
            <a href="{% url 'select eating plan for the day page' %}" class="link_color ">
                <button class="button text-center mt-4 mb-2">Select a plan</button>
            </a>
        </div>

    {% endif %}

</div>