<div class="text-center">
    <main>
        <h1 class="header_color mb-5">Welcome to Eat me!</h1>

        <section class=".text-center">

            <h2 class="header_color mb-4">About</h2>
            <p class="text_color mb-5">
                Calculate your macros and create recipes and eating plans for the day
            </p>

        </section>

        <section class=".text-center">
            <h2 class="header_color mb-4">Features</h2>
                <p class="text_color">Calculates your macronutrients based on your goals using a BMI Calculator</p>
                <p class="text_color">Create and save recipes</p>
                <p class="text_color">Make an eating plan for the day</p>
        </section>

        <section class=".text-center">
            <h2 class="header_color mt-5 mb-4">Get Started</h2>
            <p class="text_color mb-5">
                Start managing your eating by signing in
            </p>

            <a href="{% url 'register page' %}" class="link_color">
                <button class=".text-center button">Create Your Profile</button>
            </a>
        </section>
    </main>
</div>
