
<main>
     <h1 class="header_color mb-5">Welcome to Eat me!</h1>

    <section class=".text-center">

      <h2 class="header_color mb-4">About</h2>
      <p class="text_color mb-5">
          This app helps you to calculate your macronutrients and follow them through the day
      </p>

    </section>

    <section class=".text-center">
      <h2 class="header_color mb-4">Features</h2>
      <ul>
          <li class="text_color">Calculates your macronutrients based on your goals using a BMI Calculator</li>
          <li class="text_color">Create and save recipes</li>
          <li class="text_color">Make  an eating plan for the day</li>
      </ul>
    </section>

    <section class=".text-center">
      <h2 class="header_color mt-5">Get Started</h2>
      <p class="text_color mb-5">
          Start managing your eating by signing in !
      </p>

      <a href="{% url 'register page' %}" class="link_color">
          <button class=".text-center button" >Create Your Profile</button></a>
    </section>
  </main>