{% extends 'base.html' %}

{% block main_content %}
    <h2 class="header_color">Create your eating plan!</h2>

    <form action={% url 'create eating plan page' %}  method="POST" class="text-center custom-input">
        {% csrf_token %}

        <label for="{{ form.title.id_for_label }}" class="header_color mb-3">Title:</label>
        <input type="{{ form.title.field.widget.input_type }}" name="{{ form.title.name }}"
               id="{{ form.title.id_for_label }}" class="form-control mb-2 input-color"
               placeholder="Enter your title">


        <label for="{{ form.breakfast.id_for_label }}" class="header_color mb-3">Breakfast:</label>
        <select name="{{ form.breakfast.name }}" id="{{ form.breakfast.id_for_label }}"
                class="form-control mb-2 input-color">
            {% for choice in form.breakfast.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select>


        <label for="{{ form.lunch.id_for_label }}" class="header_color mb-3">Lunch:</label>
        <select name="{{ form.lunch.name }}" id="{{ form.lunch.id_for_label }}"
                class="form-control mb-2 input-color">
            {% for choice in form.lunch.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select>


        <label for="{{ form.dinner.id_for_label }}" class="header_color mb-3">Dinner:</label>
        <select name="{{ form.dinner.name }}" id="{{ form.dinner.id_for_label }}"
                class="form-control mb-2 input-color">
            {% for choice in form.dinner.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select>


        <button class="button mt-4 mb-5">Create eating plan</button>
    </form>


    <div>
        <h3 class="header_color mb-4">Total macros of the eating plan:</h3>
        <p class="text_color">Total Calories: <span id="total-calories">0</span></p>
        <p class="text_color">Total Proteins: <span id="total-proteins">0</span></p>
        <p class="text_color">Total Fats: <span id="total-fats">0</span></p>
        <p class="text_color">Total Carbs: <span id="total-carbs">0</span></p>

    </div>


    <script>
        var attributes = {
        {% for recipe in recipes %}
            {{ recipe.pk }} :
            ['{{ recipe.calories }}', '{{ recipe.proteins }}', '{{ recipe.fats }}', '{{ recipe.carbs }}'],
        {% endfor %}
        }


    </script>
    <script>
        $(document).ready(function () {


            document.addEventListener('change', calculateMacros)


        });
    </script>
{% endblock %}