{% extends 'base.html' %}

{% block main_content %}
    <div class="text-center">

        <div>
            <h1 class="mt-5 mb-4">{{ plan.title }}</h1>

            <h2 class="mb-4">Meals:</h2>

            <p class="mb-4 header_color">
                Breakfast meal: {{ plan.breakfast.title }}
            </p>

            <p class="mb-4 header_color">
                Lunch meal: {{ plan.lunch.title }}
            </p>

            <p class="header_color mb-5">
                Dinner meal: {{ plan.dinner.title }}
            </p>


        </div>

        <div>
            <h3 class="mb-4">Plan calories</h3>
            <p>
                <strong>Calories</strong>: {{ plan.total_calories }}
            </p>

            <p>
                <strong>Proteins</strong>: {{ plan.total_proteins }}
            </p>

            <p>
                <strong>Carbs</strong>: {{ plan.total_carbs }}
            </p>

            <p class="mb-5">
                <strong>Fats</strong>: {{ plan.total_fats }}
            </p>
        </div>


        <a href="{% url 'edit eating plan page' pk=plan.pk %}">
            <button class="button">Edit</button>
        </a>

        <a href="{% url 'delete eating plan page' pk=plan.pk %}">
            <button class="delete-button ms-4">Delete</button>
        </a>

    </div>
{% endblock %}