{% extends 'base.html' %}

{% block main_content %}
    <h1 class="mt-4">Your eating plans</h1>
    {% if eating_plans %}
        {% for eating_plan in eating_plans %}
            <div>
                <a href="{% url 'show eating plans details page' pk=eating_plan.pk %}">

                    <p class="header_color">{{ eating_plan.title }}</p>

                </a>
            </div>

        {% endfor %}


    {% else %}
        <h2>You haven't created an eating plan yet</h2>
    {% endif %}

    <a href="{% url 'create eating plan page' %}">
        <button class="button">Create a plan</button>
    </a>

{% endblock %}