{% extends 'base.html' %}

{% block main_content %}
    <h1 class="mt-5">{{ recipe.title }}</h1>
    {% if recipe.instruction %}
    <p class="mb-3">Instructions: {{ recipe.instruction }}</p>
    {% else  %}
    <p class="mb-3">No instructions</p>
    {% endif %}

    <h3>Ingredients: </h3>
    {% for ingredient in ingredients %}
        <div>
            {% if ingredient.measurements == "1000" %}

                <p>{{ ingredient.ingredient.name }} {{ ingredient.quantity }} kg</p>
            {% else %}
                <p>{{ ingredient.ingredient.name }} {{ ingredient.quantity }} grams</p>
            {% endif %}
        </div>

    {% endfor %}

    <form method="POST">
        <input type="submit" name="approve" value="Approve Recipe" class="button mt-4">
        <input type="submit" name="reject" value="Discard Recipe" class="delete-button ms-4">
        {% csrf_token %}
    </form>
{% endblock %}