{% extends 'base.html' %}

{% block main_content %}
    <!-- create_recipe.html -->
    <h1>Have to mak</h1>
    <!-- create_recipe.html -->
    <form id="recipe-form" method="POST">
        {% csrf_token %}
        {{ form.as_table }} <!-- Render recipe form fields as a table -->

        <fieldset id="ingredients-fieldset">
            <legend>Ingredients</legend>
            {{ formset.management_form }}
            <div id="formset-rows">
                {% for form in formset %}
                    <div class="formset-row base_element" data-selset style="display: none">
                        <div
                                onclick="resetSelect(this)"
                                style="background: red; border: solid; padding: 10px; width: 50px; cursor: pointer; font-size: 20px; text-align: center;">

                            <p id="buttonreset_0">remove</p>
                        </div>
                        {{ form.as_div }}

                    </div>
                {% endfor %}
            </div>
            <button type="button" id="add-formset-row">Add Ingredient</button>
        </fieldset>

        <!-- Display recipe macros -->
        <h3>Recipe Macros:</h3>
        <p>Total Calories: <span id="total-calories">0</span></p>
        <p>Total Proteins: <span id="total-proteins">0</span></p>
        <p>Total Fats: <span id="total-fats">0</span></p>
        <p>Total Carbs: <span id="total-carbs">0</span></p>

        <button type="submit">Save</button>
    </form>
    <script>
        var attributes = {

        {% for ingredient in ingredients %}
            {{ ingredient.pk }}: {
            name:"{{ ingredient.name}}",

                calories
        :{{ ingredient.calories_per_gram }},
            proteins:{{ ingredient.proteins_per_gram }},
            fats:{{ ingredient.fats_per_gram }},
            carbs:{{ ingredient.carbs_per_gram }}
                },
        {% endfor %}
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(document).ready(function () {
            var searchInput = $('#search-input');
            var selectMenu = $('#select-menu');

            // Function to filter the options based on search query
            function filterOptions() {
                var searchQuery = searchInput.val().toLowerCase();
                selectMenu.find('option').each(function () {
                    var optionText = $(this).text().toLowerCase();
                    var isVisible = optionText.indexOf(searchQuery) > -1;
                    $(this).toggle(isVisible);
                });
            }

            // Event listener for search input changes
            searchInput.on('input', filterOptions);

            $('[data-selset]').first().fadeIn(0)
            var formsetRowsContainer = $('#formset-rows');
            var addButton = $('#add-formset-row');

            addButton.click(function () {

                $("[data-selset]:hidden:first").show();

            });

            document.addEventListener('change', onChange);
            calculate()


        });//end document ready

        function onChange(e) {
            if (e.target.attributes.dataChange) {
                calculate()
            }
        }


        function resetSelect(target) {
            var parent = $(target).parent().children()


            var ingredient = parent[1].children[1]
            var quantity = parent[2].children[1]
            var measurements = parent[3].children[1]
            var element = attributes[ingredient.value];


            $(ingredient).prop("selectedIndex", 0)
            $(quantity).val('')
            $(measurements).prop("selectedIndex", 0)
            $(target).parent().fadeOut()
            calculate()
        }

        function calculate() {
            var elements = $('.base_element')

            var total_calories = 0
            var total_proteins = 0
            var total_fats = 0
            var total_carbs = 0

            for (var i=0; i<elements.length; i++) {
                var element = elements[i]
                var selects = $(element).find('select')

                var inputValue = parseInt($(element).find('input').val())
                if (isNaN(inputValue)) {
                    inputValue = 0
                }
                var select2Value = parseInt($(selects[1]).val())
                if (isNaN(select2Value)) {
                    select2Value = 0
                }

                var calories = 0
                var proteins = 0
                var carbs = 0
                var fats = 0

                var select1Id = parseFloat($(selects[0]).val())
                var attribut = attributes[select1Id];
                if (attribut) {
                    calories = parseFloat(attribut.calories)
                    proteins = parseFloat(attribut.proteins)
                    carbs = parseFloat(attribut.carbs)
                    fats = parseFloat(attribut.fats)
                }

                var localTotalCalories = calories * inputValue * select2Value
                total_calories += localTotalCalories

                var localTotalProteins = proteins * inputValue * select2Value
                total_proteins += localTotalProteins

                var localTotalCarbs = carbs * inputValue * select2Value
                total_carbs += localTotalCarbs

                var localTotalFats = fats * inputValue * select2Value
                total_fats += localTotalFats


            }
            $('#total-calories').text(total_calories);
            $('#total-proteins').text(total_proteins);
            $('#total-fats').text(total_fats);
            $('#total-carbs').text(total_carbs);
        }

    </script>


{% endblock %}