{% extends 'base.html' %}

{% block main_content %}
    <h1>Delete recipe</h1>
    <h4 class="header_color">Are you sure you want to delete the recipe "{{ recipe.title }}" ?</h4>

    <div class="d-flex justify-content-between">
        <form method="POST">
            <button class="delete-button mr-2">Delete</button>
            {% csrf_token %}
        </form>

        <a href="{% url 'show recipes page' %}">
            <button class="button ms-4">Go back</button>
        </a>
    </div>

{% endblock %}