{% extends 'base.html' %}
{% block main_content %}
    <h1>Edit recipe</h1>
    <form action="" method="POST">
        {{ form.as_table }}
        <fieldset id="ingredients-fieldset">
            <legend>Ingredients</legend>
            {{ formset.management_form }}
            <div id="formset-rows">
                {% for form in formset %}
                    <div class="formset-row base_element" data-selset style="display: none">
                        <div
                                onclick="resetSelect(this)"
                                style="background: red; border: solid; padding: 10px; width: 50px; cursor: pointer; font-size: 20px; text-align: center;">

                            <p id="buttonreset_0">remove</p>
                        </div>
                        {{ form.as_div }}

                    </div>
                {% endfor %}
            </div>
            <button type="button" id="add-formset-row">Add Ingredient</button>
        </fieldset>
        <!-- Display recipe macros -->
        <h3>Recipe Macros:</h3>
        <p>Total Calories: <span id="total-calories">0</span></p>
        <p>Total Proteins: <span id="total-proteins">0</span></p>
        <p>Total Fats: <span id="total-fats">0</span></p>
        <p>Total Carbs: <span id="total-carbs">0</span></p>

        <button type="submit">Save</button>
    </form>

    <script>
        var attributes = {

        {% for ingredient in ingredients %}
            {{ ingredient.pk }}: {
            name:"{{ ingredient.name}}",

                calories
        :{{ ingredient.calories_per_gram }},
            proteins:{{ ingredient.proteins_per_gram }},
            fats:{{ ingredient.fats_per_gram }},
            carbs:{{ ingredient.carbs_per_gram }}
                },
        {% endfor %}
        }
    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(document).ready(function () {


            var elements = $('.base_element')

            // Checks for populated ingredients and shows them
            for (var i = 0; i < elements.length; i++) {
                var element = elements[i]


                {#var select = $(element).find('select')#}

                var inputValue = parseInt($(element).find('input').val())
                console.log(inputValue);

                if (inputValue) {

                    $("[data-selset]:hidden:first").show();
                }
            }


            var formsetRowsContainer = $('#formset-rows');
            var addButton = $('#add-formset-row');
            addButton.click(function () {

                $("[data-selset]:hidden:first").show();


            });
            document.addEventListener('change', onChange);
            calculate()



        });


    </script>

{% endblock %}