{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    {% if recipes %}
        {% for recipe in recipes %}

            <div>
                <img src="{% static 'default_recipe.png' %}" alt="default recipe image">
                <p>Recipe name: {{ recipe.title }}</p>
                <a href="{% url 'edit recipe page' pk=recipe.pk %} ">Edit your recipe!</a>
                <a href="{% url 'details recipe page' pk=recipe.pk %}">Recipe Details!</a>
            </div>

        {% endfor %}
    {% else %}
        <h1>You don't have any recipes</h1>
        <a href="{% url 'create recipe page' %}">
            <button>Create recipe</button>
        </a>

    {% endif %}

{% endblock %}