{% extends 'base.html' %}
{% block main_content %}
    <h2 class="header_color">Shopping lists</h2>
    {% if shopping_lists %}
        {% for list in shopping_lists %}
            <div>
                <a href="{% url 'show shopping list page' pk=list.pk %}">

                    <h4 class="header_color">{{ list.title }}</h4>
                </a>
            </div>
        {% endfor %}

    {% else %}
        <h2 class="header_color">You dont have a shopping list.</h2>

    {% endif %}

    <a href="{% url 'create shopping list page' %}">
        <button class="button">Create a shopping list</button>
    </a>

{% endblock %}