{% extends 'base.html' %}
{% block main_content %}

    <h2 class="mt-5 mb-5">Shopping list: {{ shopping_list.title }}</h2>

    {% for recipe, recipe_ingredients in recipes.items %}

        <p class="text_color">Products needed for {{ recipe.title }}</p>
        <ul>

            {% for ingredient_dict in recipe_ingredients %}
                {% for ingredient, ingredient_values in ingredient_dict.items %}

                    {% if ingredient_values.1 == '1000' %}
                        <li>{{ ingredient.name }} - {{ ingredient_values.0 }} kgs</li>
                    {% else %}

                        <li>{{ ingredient.name }} - {{ ingredient_values.0 }} grams</li>
                    {% endif %}

                {% endfor %}
            {% endfor %}

        </ul>
    {% endfor %}
    {% if shopping_list.additional_info %}
        <h2 class="mb-4 mt-4">Additional items: </h2>
        <p class="mb-4">{{ shopping_list.additional_info }}</p>
    {% endif %}

    <a href="{% url 'edit shopping list page' pk=shopping_list.pk %}">
        <button class="button mb-3">Edit</button>
    </a>

    <a href="{% url 'delete shopping list page' pk=shopping_list.pk %}">

        <button class="delete-button">Delete</button>
    </a>

{% endblock %}
